body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
* {
    background-color: F0FFFF;
    box-sizing: border-box;
}
header {
    background-color: #ff000080;
    color: rgba(255, 255, 255, 0.994);
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ab6363;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}
nav a:hover {
    background-color: #e3d7da ;
}
main {
    padding: 20px;
    background-color: #f4f4f4;
}
footer {
    background-color: #ab6363;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}